a{
    color: #fff;
    text-decoration: none;
}

body{
    background-color: $c-background;
    color: #fff;
    margin: 0;
}

button{
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}