.h1Projet--late{
    line-height: 90%;
}

.h1Projet__span--late{
    margin-left: 0px;
}

.projetVisuel--late{
    padding: 144px 27px 72px;
    background-image: url('../../assets/images/illu/backgroundDataplayProjets.svg');
    background-size: 170%;
    background-position-y: 120px;
    background-repeat: no-repeat;
    position: relative;
    z-index: -20;
}

.projetVisuel{
    &__img--late{
        width: 100%;
        border-radius: 0px;
        transform: rotate(-5deg);
        position: relative;
        z-index: -10;
    }
    &__img--right{
        margin-top: 76px;
        transform: rotate(5deg);
    }
    
}

.next{
    &__img--late{
        top: 55%;
        left: -20%;
    }
}

.next--late{
    padding: 72px 24px 216px;
}

.footer--late{
    color: #fff;

    & a{
        color: #fff;
    }
}

.footer__el--late{
        &:nth-child(2){
            background-image: url('../../assets/images/icon/instagram.svg');
        }
        &:nth-child(3){
            background-image: url('../../assets/images/icon/mail.svg');
        }
}



@media (min-width: 550px){
    .h1Projet--late{
        line-height: 50%;
    }
    
    .h1Projet__span--late{
        margin-left: 144px;
    }
    
    .projetVisuel--late{
        padding: 144px 27px 144px;
        display: flex;
        flex-direction: column;
        background-size: 140%;
    }
    
    .projetVisuel{
        &__img--late{
            width: 70%;
        }
        &__img--right{
            margin-top: 144px;
            align-self: end;
        }
    }
    
    .next{
        &__img--late{
            top: 37%;
            left: -25%;
        }
    }

    .next--late{
        padding-top: 0px;
    }
}

@media (min-width: 600Px){
    .projetVisuel--late{
        background-size: 130%;
    }
}

@media (min-width: 760px){  
    .h1Projet__span--late{
        margin-left: 232px;
    }
    
    .projetVisuel--late{
        padding: 186px 84px 93px; ////changer 72 pour arriver à 186
        background-size: 105%;
        background-position-y: 170px;
    }
    
    .projetVisuel{
        &__img--late{
            width: 65%;
        }
        &__img--right{
            margin-top: 186px;
        }
        
    }
    
    .next{
        &__img--late{
            top: 40%;
            left: -10%;
        }
    }
    
    .next--late{
        padding: 93px 66px 246px;
    }
}

@media (min-width: 950px){
    .projetVisuel{
        &__img--late{
            width: 70%;
        }
    }

    .projetVisuel--late{
        padding: 192px 132px 96px;
        background-size: 100%;
        background-position-y: 170px;
    }
    
    .next{
        &__img--late{
            top: 45%;
            left: -5%;
        }
    }

    .next--late{
        padding: 96px 116px 246px;
    }
}

@media (min-width: 1110px){
    .h1Projet__span--late{
        margin-left: 264px;
    }
    
    .projetVisuel--late{
        padding: 404px 96px 202px; 
        background-size: 100%;
        background-position-y: 350px;
    }
    
    .projetVisuel{
        &__img--late{
            width: 60%;
        }
        &__img--right{
            margin-top: 202px;
        }  
    }
    
    .next{
        &__img--late{
            top: 30%;
            left: -5%;
        }
    }
    
    .next--late{
        padding: 202px 86px 246px;
    }
}

@media (min-width: 1300px){ 

}

@media (min-width: 1530px){ 

}

@media (min-width: 1820px){ 

}

@media (min-width: 2200px){

}



