.h1Projet--late{
    line-height: 90%;
}
.h1Projet__span--late{
    margin-left: 0px;
}


.projetVisuel--late{
    padding: 144px 30px 0;

}
.projetVisuel{
    &__img--late{
        transform: rotate(-5deg);
        border-radius: 0px;

    }
    &__img{
        &--right{
            margin-top: 76px;
            transform: rotate(5deg);
        }
    }
}


.next{
    &__titreBlock{

        &--late{
            margin-left: 0px; 
        }
    }
}

.footer--late{
    color: #fff;

    & a{
        color: #fff;
    }

    &__el{

        &:nth-child(2){
            background-image: url('../../assets/images/icon/instagram.svg');
        }

        &:nth-child(3){
            background-image: url('../../assets/images/icon/mail.svg');
        }
    }
}
