.h1Projet{
    &--dec{
        line-height: 90%;
    }
    &__span--dec{
        margin-left: 0;
    }
}
 
.titre__homme{
    position: absolute;
    width: 450px;
    top: -5%;
    left: 22%;
    opacity: 50%;
    transform: translate(var(--transform-x), var(--transform-y));
    transition: transform 0.16s;
}

.infoProjet{
    &--dec{
        padding-bottom: 76px;
    }
    &__homme{
        display: none;
    }
}

.projetVisuel{
    &__imgs{
        display: flex;
        justify-content: center;
    }

    &__img--dec{
        transform: rotate(0deg);

        &:nth-child(1){
            position: absolute;
            width: 85%;
            left: -28%;
            top: 15%;
        }
        &:nth-child(2){
            position: absolute;
            width: 85%;
            right: -28%;
            bottom: 5%;
        }
        &:nth-child(3){
            margin-top: 0;
            width: 90%;
            scale: 0;
        }
    }
    &--dec{
        position: relative;
        overflow: hidden;
        z-index: 10;
        padding: 144px 24px;
    }
}

.next{
    &__bulles{
        position: absolute;
        z-index: 11;
        width: 1000px;
        top: 43%;
        left: 10%;
        animation: bulles 5s linear infinite;
    }
}

@keyframes bulles{
    0%{
        top: 43%;
    } 50% {
        top: 45%;
    } 100%{
        top: 43%;
    }
}

@media(min-width: 465px){
    .titre__homme{
        width: 450px;
        top: -5%;
        left: 30%;
    }
}

@media (min-width: 550px){
    .h1Projet--dec{
        line-height: 90%;
    }
    
    .projetVisuel{
        &__img--dec{
    
            &:nth-child(1){
                width: 85%;
                left: -28%;
                top: 15%;
            }
            &:nth-child(2){
                width: 85%;
                right: -28%;
                bottom: 10%;
            }
            &:nth-child(3){
                width: 85%;
                scale: 0;
            }
        }
    }

    .next{
        &__bulles{
            top: 40%;
        }
    }

    @keyframes bulles{
        0%{
            top: 40%;
        } 50% {
            top: 42%;
        } 100%{
            top: 40%;
        }
    }
}

@media (min-width: 600Px){
    .projetVisuel{
        &__img--dec{  
            &:nth-child(1){
                width: 65%;
                left: -18%;
            }
            &:nth-child(2){
                width: 65%;
                right: -18%;
            }
            &:nth-child(3){
                width: 55%;
                scale: 0;
            }
        }
    }

    .titre__homme{
        top: -3%;
        left: 45%;
    }

    .next{
        &__bulles{
            width: 1200px;
            top: 17%;
            left: 30%;
        }
    }

    @keyframes bulles{
        0%{
            top: 17%;
        } 50% {
            top: 20%;
        } 100%{
            top: 17%;
        }
    }
}

@media (min-width: 760px){  
    .infoProjet--dec{
        padding-bottom: 93px;
    }
    
    .projetVisuel--dec{
        padding: 186px 66px;
    
    }
    
    .projetVisuel{
        &__img--dec{

            &:nth-child(1){
                width: 65%;
                left: -20%;
                top: 15%;
            }
            &:nth-child(2){
                width: 60%;
                right: -20%;
                bottom: 0%;
            }
            &:nth-child(3){
                width: 100%;
                scale: 0;
            }
        }
    }

    .titre__homme{
        width: 650px;
        top: 0%;
        left: 45%;
    }

    .next{
        &__bulles{
            width: 1400px;
            top: 25%;
            left: 35%;
        }
    }

    @keyframes bulles{
        0%{
            top: 25%;
        } 50% {
            top: 28%;
        } 100%{
            top: 25%;
        }
    }
}

@media (min-width: 760px) and (min-height: 990px){  
    .projetVisuel{
        &__img--dec{

            &:nth-child(1){
                top: 20%;
            }
            &:nth-child(2){
                bottom: 5%;
            }
        }
    }
}

@media (min-width: 950px){
    .projetVisuel{

        &--dec{
            padding: 93px 116px;
        }
        &__img--dec{
            &:nth-child(1){
                width: 57%;
                left: -15%;
                top: 15%;
            }
            &:nth-child(2){
                width: 47%;
                right: -13%;
                bottom: -20%;
            }
        }
    }

    .infoProjet{
        &__homme{
            display: block;
            position: absolute;
            width: 150px;
            opacity: 50%;
            left: 7%;
            top: 26%;
            transform: translate(var(--transform-x), var(--transform-y));
            transition: transform 0.16s;
        }
        &--dec{
            padding-bottom: 186px;
        }
    }

    .titre__homme{
        width: 600px;
        top: 0%;
        left: 55%;
    }

    .next{
        &__bulles{
            width: 1700px;
            top: 25%;
            left: 35%;
        }
    }

    @keyframes bulles{
        0%{
            top: 25%;
        } 50% {
            top: 28%;
        } 100%{
            top: 25%;
        }
    }
}

@media (min-width: 1110px){
    .infoProjet{
        
        &--dec{
            padding-bottom: 101px;
        }
        &__homme{
            width: 180px;
            left: 7%;
            top: 22%;
        }
    }
    
    .projetVisuel--dec{
        padding: 202px 86px;
    }
    
    .projetVisuel{
        &__img--dec{
            &:nth-child(1){
                width: 55%;
                left: -10%;
                top: 20%;
            }
            &:nth-child(2){
                margin-top: 0;
                width: 50%;
                right: -10%;
                bottom: 0%;
            }
        }
    }

    .titre__homme{
        width: 650px;
        top: 5%;
        left: 57%;
    }

    .next{
        &__bulles{
            width: 1900px;
            top: 12%;
            left: 35%;
        }
    }
    @keyframes bulles{
        0%{
            top: 12%;
        } 50% {
            top: 15%;
        } 100%{
            top: 12%;
        }
    }
}

@media (min-width: 1300px){ 
    .h1Projet--dec{
        line-height: 65%;
    }
    
    .h1Projet__span--dec{
        margin-left: 675px;
    }

    .projetVisuel{
        &__img--dec{
            &:nth-child(1){
                width: 47%;
                left: -5%;
            }
            &:nth-child(2){
                width: 42%;
                right: -5%;
            }
        }
    }

    .titre__homme{
        width: 650px;
        top: 5%;
        left: 67%;
    }

    .infoProjet{
        &__homme{
            width: 230px;
            left: 7%;
            top: 18%;
        }
    }

    .next{
        &__bulles{
            width: 2300px;
            top: 8%;
            left: 35%;
        }
    }

    @keyframes bulles{
        0%{
            top: 8%;
        } 50% {
            top: 11%;
        } 100%{
            top: 8%;
        }
    }
}

@media (min-width: 1530px){ 
    .infoProjet{
        &--dec{
            padding-bottom: 57px;
        }
        &__homme{
            width: 220px;
            left: 7%;
            top: 22%;
        }
    }
    
    .projetVisuel--dec{
        padding: 303px 172px;
    }
    
    .projetVisuel{
        &__img--dec{
            &:nth-child(1){
                width: 50%;
            }
            &:nth-child(2){
                width: 45%;
            }
        }
    }

    .titre__homme{
        left: 69%;
    }

    .next{
        &__bulles{
            width: 2600px;
            top: -5%;
            left: 40%;
        }
    }

    @keyframes bulles{
        0%{
            top: -5%;
        } 50% {
            top: -2%;
        } 100%{
            top: -5%;
        }
    }
}

@media (min-width: 1820px){ 
    .infoProjet{
        &--dec{
            padding-bottom: 114px;
        }
        &__homme{
            width: 250px;
            left: 12%;
            top: 14%;
        }
    }
    
    .projetVisuel--dec{
        padding: 303px 344px;
    }
    
    .projetVisuel{
        &__img--dec{
            &:nth-child(1){
                width: 48%;
                left: -10%;
                top: 20%;
            }
            &:nth-child(2){
                margin-top: 0;
                width: 43%;
                right: -10%;
                bottom:-10%;
            }
        }
    }

    .next--dec{
        padding-top: 114px;
    }

    .titre__homme{
        width: 660px;
        left: 70%;
    }

    .next{
        &__bulles{
            width: 2800px;
            top: 10%;
            left: 40%;
        }
    }

    @keyframes bulles{
        0%{
            top: 10%;
        } 50% {
            top: 13%;
        } 100%{
            top: 10%;
        }
    }
}

@media (min-width: 2200px){
    .infoProjet{
        &--dec{
            padding-bottom: 0px;
        }
    }
    
    .projetVisuel--dec{
        padding: 505px 473px;
    }
    
    .projetVisuel{
        &__img--dec{
            &:nth-child(1){
                width: 43%;
                left: -5%;
                top: 26%;
            }
            &:nth-child(2){
                margin-top: 0;
                width: 38%;
                right: -5%;
                bottom: 0%;
            }
        }
    }

    .next--dec{
        padding-top: 0px;
    }

    .titre__homme{
        width: 700px;
        left: 70%;
        transform: rotate(-10deg);
    }

    .next{
        &__bulles{
            width: 3200px;
            top: 0%;
            left: 40%;
        }
    }

    @keyframes bulles{
        0%{
            top: 0%;
        } 50% {
            top: 3%;
        } 100%{
            top: 0%;
        }
    }
}
