
  body {
    background: white;
    margin: 2rem;
    text-align: center;
  }
  header { 
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
  }
  header video { height: 100vh;}
  svg { 
    width: 100%;
    position:absolute;
    top: 0;
    left: 0; // needed for FF, Safari, Edge
    height: 100vh;
  }
  svg text {
    font-family: 'owners-text', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
  svg rect {
    fill: white;
  }
  svg > rect {
      -webkit-mask: url(#mask);
      mask: url(#mask);
  }