.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 
    &__liens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $c-background;
        z-index: 90;
        opacity: 0;
        transition: opacity 0.3s linear;
        font-size: 32px;
        text-align: center;
    }

    &__logo{
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        width: 40px;
        height: 40px;
        background-image: url('../../assets/images/illu/logo.svg');
        background-repeat: no-repeat;
    }

    &__el{
        list-style: none;
        margin-left: 0px;
        font-family: 'owners-text', sans-serif;
        padding: 24px;

        & a{
            transition: opacity 0.3s cubic-bezier(0.37, 0, 0.63, 1);
            opacity: 60%;
        }

        & a:hover{
            opacity: 100%;
        }

        &--active{
            background-image: url('../../assets/images/illu/balleTennis.svg');
            background-repeat: no-repeat;
            background-position-x: 30%;
            background-position-y: 50%;
            background-size: 4%;

            & a{
               opacity: 100%; 
            }
            
        }

    }
}

.burgerMenu{
    text-indent: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    background-image: url('../../assets/images/icon/burgerMenu.svg');
    transition: 0.6s;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 48px;
    width: 48px;
}

.navigation__liens--open .navigation__liens{
    opacity: 100;
}

.header{
    mix-blend-mode: difference;
}


@media (min-width: 760px){ //tablet
    .navigation{

        &__liens{
            display: flex;
            flex-direction: row;
            justify-content: right;
            align-items: end;
            background-color: transparent;
            opacity: 100;
            font-size: 22px;
            z-index: 90;
            width: auto;
            height: auto;
            position: relative;
        }
    
        &__el{
            margin-left: 44px;
            padding: 0px 0px 12px 0px;
            cursor: pointer;

            &--active{
                background-position-y: 100%;
                background-size: 17%;
                background-position-x: 50%;
                transition: opacity 0.2s linear;
            }
        }
    }
    
    .burgerMenu{
        display: none;
    }
}




@media (min-width: 1110px){ //ordinateur
    .navigation{
        &__liens{
            font-size: 24px;
        }
    
        &__el{
            margin-left: 64px;
            padding: 0px 0px 14px 0px;
        }
    }
}