.h1Projet{
    font-size: 76px;
    padding: 228px 24px 108px;
    line-height: 50%;

    &__span{
        display: block;
        font-family: 'Pangaia';
        font-weight: 200;
        font-size: 57px;
        margin-left: 114px;
    }
}

.infoProjet{
    padding: 0 24px;
    position: relative;
    z-index: 10;

    &__para{
        font-size: 18px;
        font-family: 'owners-text', sans-serif;
        margin-top: 0;
        margin-bottom: 72px;
        line-height: 170%;
        font-weight: 200;

        &--big{
            font-size: 32px;
            font-weight: 300;
            line-height: 140%;
        }
    }

    &__bulle{
        display: none;
        animation: 5s linear bulle4 infinite;
    }
}

.projetVisuel{
    padding: 144px 24px 0;
    position: relative;
    z-index: 10;

    &__img{
        width: 100%;
        border-radius: 30px;

        &--rux{
            border-color: white;
            border-style: solid;
            border-width: 3px;
        }
    }

    &__bulle{
        position: absolute;
        width: 20%;
        left: 78%;
        animation: 4s linear bulle3 infinite;
    }
}

.next{
    padding: 144px 24px 216Px;
    position: relative;
    z-index: 30;
    overflow: hidden;

    &--rux{
        background-image: url('../assets/images/illu/nuages.svg');
        background-repeat: no-repeat;
        background-position-y: 85%;
        background-size: 750px;
        animation: backgroundNuage 60s linear infinite;
    }

    &__titre{
        font-family: 'owners-text', sans-serif;
        font-size: 43px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 43px;
        line-height: 110%;
        position: relative;
        z-index: 30;
    }
    
    &__titreBlock{
        display: block;

        &--decal{
            font-family: "Pangaia";
            text-transform: capitalize;
        }
    }

    &__imgContainer{
        position: absolute;
        z-index: 10;

        img{
            position: relative;
            top:0;
            left:0;
        }

        &:after{
            content: "";
            position: relative;
            display: block;
            z-index: 100;
            background-image: url('../assets/images/illu/train.svg');
            background-size: cover;
            top:-420px;
            left:-69px;
            width: 959px;
            height: 959px;
            animation: train 10s infinite linear;
            transform-origin: center center;
            background-repeat: no-repeat;
        }
    }
    a{
        position: relative;
        z-index: 30;
    }
}
 
footer{
    mix-blend-mode: difference;
    margin: 0 24px;
    position: absolute;
    z-index: 40;
    bottom: 0;
}

.footer{
    margin: 0 0 18px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    color: #fff;

    &__el {
        font-family: 'owners-text', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-left: 8px;
    }

    &__el--icon {
        display: flex;
            align-self: center;
        
        & a{
            height: 16px;
            width: 16px;
        }
        &:nth-child(3) a{
            height: 16px;
            width: 20.44px;
        }
    }
}

.titre{
    position: relative;
    z-index: 10;
    overflow:hidden;

    &__bulle{
        position: absolute;

        &--1{
            width: 400px;
            left: 58%;
            z-index: 5;
            transform: rotate(10deg);
            animation: 5s linear bulle1 infinite;
        }
        &--2{
            width: 100px;
            z-index: 5;
            animation: 5s linear bulle2 infinite;
            left: 54%;
        }
    }
}

@keyframes bulle1 {
    0%{
        top: -27%;
    }
    50%{
        top: -24%;
    }
    100%{
        top: -27%;
    }
}
@keyframes bulle2 {
    0%{
        top: 34%;
    }
    50%{
        top: 36%;
    }
    100%{
        top: 34%;
    }
}
@keyframes bulle3 {
    0%{
        top: 92%;
    }
    50%{
        top: 91.5%;
    }
    100%{
        top: 92%;
    }
}
@keyframes train{
    from{
        transform: rotate(360deg);
    } to {
        transform: rotate(0deg);
    }
}
@keyframes backgroundNuage{
    from{
        background-position-x: 550px;
    } to{
        background-position-x: -750px;
    }
}



@media (max-width: 350px){
    .h1Projet{
        line-height: 90%;
    
        &__span{
            margin-left: 0px;
        }
    }

    .projetVisuel{
        &__img{
            border-radius: 25px;
        }
    }

    .titre{
        &__bulle{
    
            &--1{
                left: 45%;
            }
            &--2{
                left: 65%;
            }
        }
    }
    
    @keyframes bulle1 {
        0%{
            top: -33%;
        }
        50%{
            top: -31%;
        }
        100%{
            top: -33%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 34%;
        }
        50%{
            top: 36%;
        }
        100%{
            top: 34%;
        }
    }
}

@media (min-width: 550px){
    .h1Projet{
        padding: 228px 64px 108px;
    }
    
    .infoProjet{
        padding: 0px 64px;
    }
    
    .projetVisuel{
        padding: 144px 64px 0;

        &__bulle{
            width: 18%;
            left: 78%;
        }
    }
    
    .next{
        padding: 144px 64px 216Px;

        &__imgContainer{
            position: absolute;
            z-index: 10;
            left: -5%;
            top: 45%; 
    
            & img{
                position: relative;
                width: 1400px;
            }
    
            &:after{
                top:-705px;
                left:-112px;
                width: 1610px;
                height: 1610px;
            }
        }
    }
    
    footer{
        margin: 0 64px;
    }

    .titre{
        &__bulle{
    
            &--1{
                left: 50%;
            }
            &--2{
                left: 39%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: -15%;
        }
        50%{
            top: -13%;
        }
        100%{
            top: -15%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 25%;
        }
        50%{
            top: 27%;
        }
        100%{
            top: 25%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 93%;
        }
        50%{
            top: 92%;
        }
        100%{
            top: 93%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 760px;
        } to{
            background-position-x: -750px;
        }
    }
}

@media (min-width: 760px){
    .h1Projet{
        font-size: 123px;
        padding: 312px 66px 186px;
        line-height: 50%;
    
        &__span{
            font-size: 93px;
            margin-left: 186px;
        }
    }
    .infoProjet{
        padding: 0 66px;
    
        &__para{
            font-size: 22px;
            margin-bottom: 78px;
    
            &--big{
                font-size: 39px;
            }
        }
    }
    .projetVisuel{
        padding: 186px 66px 0;
    
        &__img{
            border-radius: 50px;
        }
    } 
    .next{
        padding: 186px 66px 246px;

        &--rux{
            background-size: 870px;
        }
        
    
        &__titre{
            font-size: 52px;
            margin: 0 0 52px;
            }
    
        &__imgContainer{
            position: absolute;
            z-index: 10;
            left: 0%;
            top: 40%;   
    
            & img{
                position: relative;
                width: 1600px;
            }
    
            &:after{
                top:-805px;
                left:-144px;
                width: 1870px;
                height: 1870px;
            }
        }
    }
    footer{
        margin: 0 66px;
    }

    .footer{
        margin: 0 0 22px;
    
        &__el {
            font-size: 17px;
            margin-left: 11px;
        }
    
        &__el--icon {
            
            & a {
                height: 18px;
                width: 18px;
            }
            &:nth-child(3) a{
                height: 18px;
                width: 23px;
            }
        }
    }


    .titre{
    
        &__bulle{
    
            &--1{
                width: 500px;
                z-index: 5;
                transform: rotate(10deg);
                left: 55%;
            }
            &--2{
                width: 120px;
                z-index: 5;
                left: 49%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: -15%;
        }
        50%{
            top: -13%;
        }
        100%{
            top: -15%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 30%;
        }
        50%{
            top: 32%;
        }
        100%{
            top: 30%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 88%;
        }
        50%{
            top: 87%;
        }
        100%{
            top: 88%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 980px;
        } to{
            background-position-x: -870px;
        }
    }
}

@media (min-width: 950px){
    .h1Projet{
        padding: 246px 116px 123px;

        &__span{
            margin-left: 186px;
        }
    }
    
    .infoProjet{
        padding: 0px 116px;
    
        &__para{
            margin-left: 154px;
    
            &--big{
                font-size: 39px;
            }
        }

        & a{
            margin-left: 154px;
        }

        &__bulle{
            position: absolute;
            display: block;
            z-index: 5;
            width: 300px;
            left: -14%;
        }
    }
    
    .projetVisuel{
        padding: 279px 116px 0;

        &__bulle{
            width: 16%;
            left: 80%;
        }
    }
    
    .next{
        padding: 279px 116px 246px;
    
        &__imgContainer{
            left: 14%;
            top: 45%;   
        }
    }
    
    footer{
        margin: 0 116px;
    }

    .titre{
    
        &__bulle{
    
            &--1{
                width: 550px;
                left: 67%;
            }
            &--2{
                width: 130px;
                left: 63%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: -2%;
        }
        50%{
            top: 0%;
        }
        100%{
            top: -2%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 65%;
        }
        50%{
            top: 67%;
        }
        100%{
            top: 65%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 85%;
        }
        50%{
            top: 84%;
        }
        100%{
            top: 85%;
        }
    }
    @keyframes bulle4 {
        0%{
            top: 50%;
        }
        50%{
            top: 52%;
        }
        100%{
            top: 50%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 1120px;
        } to{
            background-position-x: -870px;
        }
    }
}

@media (min-width: 1110px){
    .h1Projet{
        font-size: 135px;
        padding: 288px 86px 171px;
        line-height: 50%;
    
        &__span{
            font-size: 101px;
            margin-left: 202px;
        }
    }
    
    .infoProjet{
        padding: 0px 86px;
    
        &__para{
            font-size: 24px;
            margin-bottom: 96px;
            line-height: 140%;
            margin-left: 303px;
    
            &--big{
                font-size: 43px;
            }
        }
        & a{
            margin-left: 303px;
        }
        &__bulle{
            width: 300px;
            left: -5%;
        }
    }
    
    .projetVisuel{
        padding: 202px 86px 0;
    
        &__img{
            border-radius: 60px;
        }
        &__bulle{
            width: 16%;
            left: 82%;
        }
    }
    
    .next{
        padding: 202px 86px 285px;

        &--rux{
            background-size: 950px;
        }
        
    
        &__titre{
            font-size: 57px;
            margin: 0 0 57px;
            }

        &__imgContainer{
            left: 5%;
            top: 30%;  
    
            & img{
                width: 2300px;
            }
    
            &:after{
                top:-1154px;
                left:-203px;
                width: 2680px;
                height: 2680px;
            }
        }
    }
    
    footer{
        margin: 0 86px;
    }

    .footer{
        margin: 0 0 24px;
    
        &__el {
            font-size: 18px;
            margin-left: 9px;
        }
    
        &__el--icon {
            
            & a{
                height: 20px;
                width: 20px;
            }
            &:nth-child(3) a{
                height: 20px;
                width: 25.56px;
            }
        }
    }

    .titre{
    
        &__bulle{
    
            &--1{
                width: 600px;
                left: 67%;
            }
            &--2{
                width: 130px;
                left: 64%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: -2%;
        }
        50%{
            top: 0%;
        }
        100%{
            top: -2%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 60%;
        }
        50%{
            top: 62%;
        }
        100%{
            top: 60%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 82%;
        }
        50%{
            top: 81%;
        }
        100%{
            top: 82%;
        }
    }
    @keyframes bulle4 {
        0%{
            top: 50%;
        }
        50%{
            top: 52%;
        }
        100%{
            top: 50%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 1300px;
        } to{
            background-position-x: -870px;
        }
    }
}

@media (min-width: 1300px){ 
    .h1Projet{
        font-size: 135px;
        padding: 288px 86px 228px;
    
        &__span{
            font-size: 101px;
        }
    }
    
    .infoProjet{
        &__para{
            font-size: 24px;
    
            &--big{
                font-size: 43px;
            }
        }

        &__bulle{
            width: 350px;
            left: -1%;
        }
    }
    
    .projetVisuel{
        padding: 202px 86px 0;
    
        &__img{
            border-radius: 90px;
        }

        &__bulle{
            width: 16%;
            left: 82%;
        }
    }
    
    .next{
        padding: 285px 86px 285px;

        &--rux{
            background-size: 1100px;
        }
        
    
        &__titre{
            font-size: 76px;
            margin: 0 0 76px;
        }
    
        &__imgContainer{
            left: 25%;
            top: 30%; 
    
            & img{
                width: 2400px;
            }
    
            &:after{
                top:-1204px;
                left:-203px;
                width: 2780px;
                height: 2780px;
            }
        }
    }
    
    .footer{
        color: #fff;

        & a{
            color: #fff;
        }

    }

    .titre{
        &__bulle{
            &--1{
                width: 600px;
                left: 57%;
            }
            &--2{
                width: 130px;
                left: 57%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: 2%;
        }
        50%{
            top: 4%;
        }
        100%{
            top: 2%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 65%;
        }
        50%{
            top: 67%;
        }
        100%{
            top: 65%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 87%;
        }
        50%{
            top: 86%;
        }
        100%{
            top: 87%;
        }
    }
    @keyframes bulle4 {
        0%{
            top: 57%;
        }
        50%{
            top: 59%;
        }
        100%{
            top: 57%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 1300px;
        } to{
            background-position-x: -1100px;
        }
    }
}

@media (min-width: 1530px){ 
    .h1Projet{
        padding: 288px 172px 228px;
    }

    .infoProjet{
        padding: 0px 172px;

        &__bulle{
            width: 350px;
            left: 1%;
        }
    }
    
    .projetVisuel{
        padding: 342px 172px 0;

        &__bulle{
            left: 78%;
        }
    }
    
    .next{
        padding: 342px 172px 285px;

        &__imgContainer{
            left: 20%;
            top: 25%; 
    
            & img{
                width: 2900px;
            }
    
            &:after{
                top:-1454px;
                left:-226px;
                width: 3320px;
                height: 3320px;
            }
        }
    }
    
    footer{
        margin: 0 172px;
    }

    .titre{
        &__bulle{
            &--1{
                width: 600px;
                left: 57%;
            }
            &--2{
                width: 130px;
                left: 57%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: 2%;
        }
        50%{
            top: 4%;
        }
        100%{
            top: 2%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 65%;
        }
        50%{
            top: 67%;
        }
        100%{
            top: 65%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 85%;
        }
        50%{
            top: 84%;
        }
        100%{
            top: 85%;
        }
    }
    @keyframes bulle4 {
        0%{
            top: 57%;
        }
        50%{
            top: 59%;
        }
        100%{
            top: 57%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 1500px;
        } to{
            background-position-x: -1100px;
        }
    }
}

@media (min-width: 1820px){ 
    .h1Projet{
        padding: 288px 344px 228px;
    }
    
    .infoProjet{
        padding: 0px 344px;

        &__bulle{
            width: 400px;
            left: 7%;
        }
    }
    
    .projetVisuel{
        padding: 342px 344px 0;

        &__bulle{
            width: 12%;
            left: 74%;
        }
    }
    
    .next{
        padding: 342px 344px 513px;

        &__imgContainer{
            left: 33%;
            top: 20%;
    
            & img{
                width: 3600px;
            }
    
            &:after{
                top:-1810px;
                left:-298px;
                width: 4160px;
                height: 4160px;
            }
        }
    }
    
    footer{
        margin: 0 344px;
    }

    .titre{
        &__bulle{
            &--1{
                width: 600px;
                left: 63%;
            }
            &--2{
                width: 130px;
                left: 62%;
            }
        }
    }

    @keyframes bulle1 {
        0%{
            top: -22%;
        }
        50%{
            top: -20%;
        }
        100%{
            top: -22%;
        }
    }
    @keyframes bulle2 {
        0%{
            top: 41%;
        }
        50%{
            top: 43%;
        }
        100%{
            top: 41%;
        }
    }
    @keyframes bulle3 {
        0%{
            top: 92%;
        }
        50%{
            top: 91%;
        }
        100%{
            top: 92%;
        }
    }
    @keyframes bulle4 {
        0%{
            top: 57%;
        }
        50%{
            top: 59%;
        }
        100%{
            top: 57%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 1900px;
        } to{
            background-position-x: -1500px;
        }
    }
}

@media (min-width: 2200px){
    .h1Projet{
        padding: 288px 473px 228px;
    }
    
    .infoProjet{
        padding: 0px 473px;

        &__bulle{
            width: 450px;
            left: 6%;
        }
    }
    
    .projetVisuel{
        padding: 342px 473px 0;

        &__bulle{
            left: 70%;
        }
    }
    
    .next{
        padding: 342px 473px 627px;

        &--rux{
            background-size: 1700px;
            animation: backgroundNuage 60s linear infinite;
        }
        
        &__imgContainer{
            left: 30%;
            top: 20%; 
    
            & img{
                width: 3900px;
            }
    
            &:after{
                top:-1960px;
                left:-342px;
                width: 4540px;
                height: 4540px;
            }
        }
    }
    
    footer{
        margin: 0 473px;
    }

    @keyframes bulle3 {
        0%{
            top: 88%;
        }
        50%{
            top: 87%;
        }
        100%{
            top: 88%;
        }
    }
    @keyframes bulle4 {
        0%{
            top: 25%;
        }
        50%{
            top: 27%;
        }
        100%{
            top: 25%;
        }
    }
    @keyframes backgroundNuage{
        from{
            background-position-x: 2400px;
        } to{
            background-position-x: -1700px;
        }
    }
}



