@font-face {
  font-family: "Pangaia";
  src:
    url("../../assets/font/pangaia/PPPangaia-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "Pangaia regular";
  src:
    url("../../assets/font/pangaia/PPPangaia-Medium.otf") format("opentype");
}